fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
pydantic
pydantic-settings
python-dotenv==1.0.0
httpx==0.25.2
langchain-tavily
langchain-chroma>=0.1.2
chromadb
langchain
langchain_google_genai
langchain_chroma
langgraph
langchain-openai